.App {
  text-align: center;
}

/*=====================================================
css flipp card
=======================================================*/

.flip {
  -webkit-perspective: 800;
  perspective: 800;
  /* width: 100px; */
  width: 15%;
  height: 153px;
  position: relative;
  /* float: left; */
  /* border: 3px solid black; */
  margin: 20px;
  border-radius: 10px;
  /* margin: 50px auto; */
  margin: 11px;
  display: inline-block;
  /* box-shadow: 1px 1px 4px 2px white; */
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.flip .card {
  /* box-shadow: 1px 1px 4px 2px white; */
  box-shadow: 1px 1px 4px 2px #000000b5;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* -webkit-transition: 0.1s;
  transition: 0.1s; */
}

.flip .card .face {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

.flip .card .front {
  /* position: absolute; */
  z-index: 1;
  /* background: black; */
  cursor: pointer;
  border-radius: 7px;
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  /* background: blue; */
  cursor: pointer;
  border-radius: 10px;
}

/*=====================================================
css cards
=======================================================*/

.cardBord {
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 40px;
  /* width: max-content; */
}

.cardBord h2 {
  letter-spacing: 2px;
  text-shadow: 2px 0 black;
}

.cards {
  width: 75vw;
}

/*exercises css component*/

.exercises {
  margin-top: 40px;
  height: 100%;
  /* padding: 14px; */
  margin-left: 30px;
  text-shadow: 2px 0 black;
  width: 24vw;
}

.inputResulte {
  width: 55px;
  height: 35px;
  padding: 2px;
  text-align: center;
  font-size: inherit;
}

.exer {
  font-size: 25px;
}

.countCorrect {
  font-weight: bold;
  letter-spacing: 2px;
}

/***css execises **/

.header-play-game {
  text-shadow: 7px -4px 4px black;
  font-size: 65px;
}

.timer {
  font-size: 45px;
  background: #e6940b;
  border-radius: 20%;
  width: 100px;
  height: 75px;
  line-height: 75px;
  padding: 30px;
  border: solid 8px #97110f;
  margin: auto;
  color: #9f140b;
  text-shadow: 0 0 10px black;
  -webkit-box-shadow: inset 0 0 20px 3px black;
  box-shadow: inset 0 0 20px 3px black;
}

.timer-over,
.win-message {
  font-size: 40px;
  font-weight: bold;
  margin-top: 37px;
  text-shadow: 3px 0 2px black;
}

.start-btn {
  /* -webkit-box-shadow: 1px 2px 17px 1px #bb4ac7b8; */
  /* box-shadow: 1px 2px 17px 1px #950d0e; */
  text-shadow: 1px 0px black;
  background-color: #ffffffbd;
  color: #9b0d09;
  font-size: 35px;
  border-radius: 14px;
  margin: 11px auto;
  outline: none;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.need-solve {
  font-size: 25px;
  text-shadow: 3px 0 2px black;
}

.container-games {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.isCorrect {
  margin-left: 5px;
  font-size: 30px;
  animation: blink 0.5s linear infinite;
}

.isCorrect.green {
  color: green;
}

.isCorrect.red {
  color: red;
}

.isCorrect.blink {
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}