.App {
  text-align: center;
}

.card{
  width:100px;
  float:left;
  height: 175px;
  border: 3px solid black;
  background: rgb(211, 108, 12);
  margin:30px;
  line-height: 175px;
  cursor: pointer;
  
}

.Card-img{
  width: 100px;
  height: 175px;
  

}

