.App {
  text-align: center;
}

/*=====================================================
card
=======================================================*/

.flip {
  -webkit-perspective: 800;
  perspective: 800;
  width: 100px;
  height: 175px;
  position: relative;
  float: left;
  border: 3px solid black;
  margin: 30px;
  border-radius: 10px;
  /* margin: 50px auto; */
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flip .card .face {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}

.flip .card .front {
  /* position: absolute; */
  z-index: 1;
  /* background: black; */
  cursor: pointer;
  border-radius: 7px;
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  /* background: blue; */
  cursor: pointer;
  border-radius: 10px;
}

/*=====================================================
end card
=======================================================*/

.cardBord {
  text-align: center;
  margin: 0 auto;
  width: max-content;
}

.cards:before,
.cards:after {
  display: table;
  content: '';
}

.cards:after {
  clear: both;
}

/*exercises css component*/

.exercises {
  position: absolute;
  top: 100px;
  right: 50px;
}

.inputResulte {
  width: 25px;
  height: 19px;
  text-align: center;
}

.exer {
  font-size: 25px;
}

.countCorrect {
  font-weight: bold;
}

/***end css execises **/

.header-play-game {
  font-size: 70px;
}

.timer {
  font-size: 45px;
  background: #e6940b;
  border-radius: 20%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  padding: 30px;
  border: solid 8px #97110f;
  margin: auto;
  color: #9f140b;
  text-shadow: 0 0 10px black;
  -webkit-box-shadow: inset 0 0 20px 3px black;
  box-shadow: inset 0 0 20px 3px black;
}

.start-btn {
  -webkit-box-shadow: 1px 2px 17px 1px #bb4ac7b8;
  box-shadow: 1px 2px 17px 1px #950d0e;
  text-shadow: 1px 0px black;
  background-color: #e4b510;
  color: #9b0d09;
  font-size: 35px;
  border-radius: 14px;
  margin: 24px;
}