body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  /* background: #df8f0a99; */
  /* background: url('background-game.png') no-repeat; */
  background: url('Wood-Background.jpg');
  background-size: cover;
  color: white;
  background-repeat: round;
  background-attachment: fixed;
}